body {
    font-family: Roboto Mono;
}

.homePage { 
    display: grid;
    grid-template-columns: 10vh 10vh 1vh;
    grid-gap: 10vh;
    background-color: white;
    color: black;
    
}
.juliaKim {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 10vh;
}

.navBar {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    grid-gap: 10vh;
    background-color: white;
    color: black;
    font-size: 3vh;
    color: black;
    margin-left: 5vh;
}

.head {
    color: black;
    margin-left: 3vh;
    margin-top: 3vh;
}


