body {
    background-color: darkgray;
    font-family: Helvetica;
}

#museum {
    height: 600px; 
}

h1 {
    color: whitesmoke;
}

h2 {
    color: whitesmoke
}


#week01 {
    font-size: 20px;
    color: whitesmoke;
}

#week02 {
    font-size: 20px;
    color: whitesmoke;
}

#week03 {
    font-size: 20px;
    color: whitesmoke;
}

#week04 {
    font-size: 20px;
    color: whitesmoke;   
}
