body {
    background-color: darkgray;
    font-family: Helvetica;
}
/*

#me {
    height: 600px
}

#az {
    height: 600px;
    margin-left: 100px;
}
*/

#museum {
    height: 600px; 
}

#webDev {
    background-color: cornsilk;
    display: inline-block;
    margin-left: 20px;
}
