body{
  background-color: black; 
}

p {
    color: white;
    margin-left: 10vh;
    margin-right: 10vh
}

#flex {
  background-color: black; 
  display: flex;
  align-items: center;

}

.upDown{
  padding: 3vw;
  margin-left: 20vh;  
  background-color: azure;
  border-radius: 20px;
}
.left{
  padding: 3vw;
  margin: 2vh;
  background-color: azure;
  border-radius: 20px;
}
.right{
  padding: 3vw;
  background-color: azure;
  border-radius: 20px;
}

footer {
    margin-left: 20vh;
    margin-top: 15vh; 
}

h1 {
    color: white;
    text-align: center;
}

img {
    width: 90vh;
}
