body {
    background-color: darkgray;
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

button {
    background-color: antiquewhite;
    border-radius: 50px;
    padding: 20px;
}

#iWasATeenageInsect {
    height: 700px;
}

#movie {
    height:500px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
