.photos {
    color: lightskyblue;
    margin-left: 3vh;
    margin-top: 3vh;
    text-decoration: none;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    max-width: 90vw;
}

.pics {
    height: 50vh;
    margin-left: 2vw;
    opacity: 0.8
}


.pics:hover {
    opacity: 1;

}
