.projects {
    color: lightskyblue;
    margin-left: 3vh;
    margin-top: 3vh;
    text-decoration: none;
}
.buttons {
    display: flex;
    border-radius: 4px;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 3vh;
    background-color: white;
}

.buttons:hover {
    color: lightskyblue;
    border-width: medium;
    border-color: lightskyblue;
}
