.projects {
    color: lightskyblue;
    margin-left: 3vh;
    margin-top: 3vh;
    text-decoration: none;
}

.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
}

.projectInfo {
    display: flex;
    justify-content: center;
}